<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Date Results</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <div id="newDate">
            <div id="theNewDate">
                <div>
                    <h2>Restaurant:</h2>
                    <img src='<%- butt.photo %>' />
                    <h3><%- butt.name %></h3>
                    <p><span class="label">Cuisine:</span><%- butt.cuisine %></p>
                    <p><span class="label">Hours of Operation:</span><%- butt.timings %></p>
                </div>

                <div>
                    <h2>Event:</h2> 
                    <ul>
                        <li><h3><%= roundButt.name %></h3></li>
                        <li><a href="<%= roundButt.link %>">Event Link</a></li>
                        <li><p><span class="label">Date:</span><%= roundButt.event_date %></p></li>
                        <li><p><span class="label">Event Summary:</span><%= roundButt.summary %></p></li>
                    </ul>
                </div>
        

        <form method="post" action="/results">
            <input class="invisible" name="foodPhoto" value="<%= butt.photo %>" />
            <input class="invisible" name="foodName" value="<%= butt.name %>" />
            <input class="invisible" name="foodCuisine" value="<%= butt.cuisine %>" />
            <input class="invisible" name="foodTimings" value="<%= butt.timings %>" />
            <input class="invisible" name="eventName" value="<%= roundButt.name %>" />
            <input class="invisible" name="eventLink" value="<%= roundButt.link %>" />
            <input class="invisible" name="eventDate" value="<%= roundButt.event_date %>" />
            <input class="invisible" name="eventSummary" value="<%= roundButt.summary %>" />
            <button>Save to My Dates</button>
        </form>
        </div>
    </div>
    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>