<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Date Results</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <img src='<%- butt.photo %>'/>
        <h1><%- butt.name %></h1>
        <h2>Cuisine: <%- butt.cuisine %></h2>
        <h2>Hours: <%- butt.timings %></h2>

    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>