<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Date Results</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>

        <div>
            <img src='<%- butt.photo %>' />
            <h1><%- butt.name %></h1>
            <h2>Cuisine: <%- butt.cuisine %></h2>
            <h2>Hours: <%- butt.timings %></h2>
        </div>

        <form method="post" action="/results">
            <input class="invisible" name="photo" value="<%= butt.photo %>" />
            <input class="invisible" name="name" value="<%= butt.name %>" />
            <input class="invisible" name="cuisine" value="<%= butt.cuisine %>" />
            <input class="invisible" name="timings" value="<%= butt.timings %>" />
            <button>Save to My Dates</button>
        </form>

        <div id="newEventResult">
            <ul>
                <li><%= roundButt.name %></li>
                <li><%= roundButt.link %></li>
                <li><%= roundButt.event_date %></li>
                <li><%= roundButt.summary %></li>
            </ul>
        </div>


    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>