<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>My Dates</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <div id="mydates">
        <% results.forEach( date => { %>
        <ul>
            <div id="date">
            <li>
                <h2>Quote:</h2>
                <p><%- date.dateitemthree.quote %></p>
                <h3><%- date.dateitemthree.author %></h3>
            </li>

            <li> 
                <h2>Restaurant:</h2>
                <img src="<%- date.dateitemone.photo %>" />
                <h3> <%- date.dateitemone.name %> </h3>
                <p> <span class="label">Cuisine:</span> <%- date.dateitemone.cuisine %> </p>
                <p> <span class="label">Hours of Operation:</span> <%- date.dateitemone.timings %> </p>
            </li>

            <li>
                <h2>Event:</h2> 
                <h3> <%- date.dateitemtwo.name %> </h3>
                <p><a href="<%- date.dateitemtwo.link %>">Event Link</a></p>
                <p> <span class="label">Date of Event:</span> <%- date.dateitemtwo.date %> </p>
                <p> <span class="label">Event Summary:</span> <%- date.dateitemtwo.summary %> </p>
            </li>

            <form method="post" action="/results?_method=delete">
                <input class="invisible" name="dateID" value="<%= date.id %>" />
                <button type="submit">Delete Date</button>
            </form>
        </div>
        </ul>
        <% }) %>
        </div>

    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>